<div class="top-bar" id="top-bar" [@expandCollapse]="isFocused ? 'expanded' : 'collapsed'">
  <input type="text" placeholder="Search..." (focus)="toggleFocus($event)" (input)="onInput($event)"
    [(ngModel)]="inputText" id="search-input" [ngClass]="{'focused': isFocused}" />
  <div class="search" id="search-icon" (click)="toggleUnFocus($event)" [ngClass]="{'test': isFocused}"></div>
  <div class="result-list" *ngIf="isFocused">
    <div class="result-container" *ngFor="let result of searchResults" (click)="goToLocation(result)">
      <div class="result-address">{{ result.address }}</div>
      <div class="result-city">{{ result.city }}, {{result.postalCode}}</div>
    </div>
  </div>
  <!--<div class="dropdown" *ngIf="!isFocused">
    aaaaaa
    <div class="dropdown-content">
      <div name="empty" [class.selected]="test === ''" (click)="selectOption('')">Empty</div>
      <h3>Villes</h3>
      <div name="city" *ngFor="let result of optionsFilters.optionsCity" [class.selected]="test === result" (click)="selectOption(result)">
        {{result}}
      </div>
      <h3>Code postal</h3>
      <div name="postalCode" *ngFor="let result of optionsFilters.optionsPostalCode" [class.selected]="test === result.toString()" (click)="selectOption(result)">
        {{ result }}
      </div>
      <h3>Structures</h3>
      <div name="Structures" *ngFor="let result of optionsFilters.optionsStructure" [class.selected]="test === result" (click)="selectOption(result)">
        {{ result }}
      </div>
    </div>
  </div>!-->
  <div class="sec-center" *ngIf="!isFocused"> 	
    <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
    <label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
    <div class="section-dropdown"> 
      <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub"/>
      <label class="for-dropdown-sub" for="dropdown-sub">Villes<i class="uil uil-plus"></i></label>
      <div class="section-dropdown-sub" name="city" *ngFor="let result of optionsFilters.optionsCity" [class.selected]="test === result" (click)="selectOption(result)">
        <p class="serparator">{{ result }}</p>
      </div>
    </div>
  </div>
  <!--<select name="city" id="city" (ngModelChange)="filterTheMap()" size="1">
    <option value=""></option>
    <optgroup label="City" [(ngModel)]="city">
      <option *ngFor="let result of optionsFilters.optionsCity">{{result}}</option>
    </optgroup>
    <optgroup label="Postal Code" [(ngModel)]="postalCode">
      <option *ngFor="let result of optionsFilters.optionsPostalCode">{{result}}</option>
    </optgroup>
    <optgroup label="Structure" [(ngModel)]="structure">
      <option *ngFor="let result of optionsFilters.optionsStructure">{{result}}</option>
    </optgroup>
  </select>!-->
</div>
