<section>
    <div class="submit-form">
        <label for="name">Name</label>
        <input [(ngModel)]="badge.name" type="text" name="name" id="name">
        <br>
        <label for="description">Description</label>
        <input id="description" name="description" [(ngModel)]="badge.description" type="text">
        <br>
        <label for="image_link">Image_link</label>
        <input [(ngModel)]="badge.image_link" type="text" name="image_link" id="image_link">
        <button type="submit" (click)="create(badge)">Create</button>
    </div>
</section>


<section class="card_container">
    <div class="card" *ngFor="let badge of badges; let index = index">
        <div [ngClass]="badge.gotIt != true ? 'grey' : 'infos_container' " class="infos_container">
            <div class="image">
                <img class="image_{{badge.name}}" (click)="turnBadge(index)"
                    [ngClass]="{'flip-vertical-right':index == selectedBadge}" src="{{badge.image_link}}"
                    alt="{{badge.name}}">
                <p [ngClass]="index == selectedBadge ? 'show, flip-vertical-right' : 'hidden' ">test, date d'obention et
                    n° à placer ici</p>
            </div>
            <div class="description">
                {{badge.description}}
            </div>
        </div>
    </div>
</section>