h1 {
    font-family: Passero One;
    text-align: center;
    font-size: 4rem;
    color: #F2FFDF;
    margin: 0;
    padding: 8rem 0 4rem 0;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 25%));
}

#main { 
    background-color: #00BF7D;
}