h1, h4 {
    margin: 0;
    padding: 0;
}

:host {
    display: block;
    background-color: #00BF7D;
    height: 100%;
    width: 100%;
}

.loading-section {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.title-box {
    color: #F2FFDF;
    text-align: center;
    font-family: "Passero One", sans-serif;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 25%));
}

#title {
    font-size: 4rem;
    padding: 6rem 0 2rem 0;
}

#catchphrase {
    font-size: 1.5rem;
    padding: 0 0 2rem 0;
    font-family: "Passero One", sans-serif;
    color: #F2FFDF;
}

#loading-text {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 0 0 2rem 0;
    font-family: "Passero One", sans-serif;
    color: #F2FFDF;
}

.img-box {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    filter: drop-shadow(0 4px 4px rgb(0, 0, 0, 25%));
}

.loading-image {
    animation: moveUpDown 5s ease-in-out infinite;
}

@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
}

.bouncing-text {
    position: relative;
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    font-family: "Passero One", sans-serif;
  }
  
  .c, .h, .a, .r, .g, .e, .m, .e-bis, .n, .t {
    position: relative;
    color: #F2FFDF;
    text-shadow: 0 3px rgb(0, 0, 0, 25%), 0 5px rgb(0, 0, 0, 25%), 0 7px rgb(0, 0, 0, 25%);
  }
  
  .c {
    animation: bounce 1s ease infinite;
    -webkit-animation: bounce 1s ease infinite;
  }
  
  .h {
    animation: bounce 1s ease infinite .1s;
    -webkit-animation: bounce 1s ease infinite .1s;
  }
  
  .a {
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
  }
  
  .r {
    animation: bounce 1s ease infinite .3s;
    -webkit-animation: bounce 1s ease infinite .3s;
  }
  
  .g {
    animation: bounce 1s ease infinite .4s;
    -webkit-animation: bounce 1s ease infinite .4s;
  }
  
  .e {
    animation: bounce 1s ease infinite .5s;
   -webkit-animation: bounce 1s ease infinite .5s;
  }

    .m {
        animation: bounce 1s ease infinite .6s;
        -webkit-animation: bounce 1s ease infinite .6s;
    }

    .e-bis {
        animation: bounce 1s ease infinite .7s;
        -webkit-animation: bounce 1s ease infinite .7s;
    }

    .n {
        animation: bounce 1s ease infinite .8s;
        -webkit-animation: bounce 1s ease infinite .8s;
    }

    .t {
        animation: bounce 1s ease infinite .9s;
        -webkit-animation: bounce 1s ease infinite .9s;
    }
  
   @keyframes bounce {
          0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-20px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-7px); }
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);}
      }
  
  @-webkit-keyframes bounce {
         0%   { transform: scale(1,1) translateY(0); }
          10%  { transform: scale(1.1,.9) translateY(0); }
          30%  { transform: scale(.9,1.1)   translateY(-55px);}
          50%  { transform: scale(1.05,.95) translateY(0); }
          58%  { transform: scale(1,1) translateY(-7px);}
          65%  { transform: scale(1,1) translateY(0);}
          100% { transform: scale(1,1) translateY(0);} 
  }
