<div class="container">
  <header class="header">--{{ userName }}--</header>
  <div class="collection">Derniers badges débloqués</div>
  <div class="fake-badge-group">
    <div class="fake-badge"></div>
    <div class="fake-badge"></div>
    <div class="fake-badge"></div>
  </div>
  <div class="rectangle">
    <h2><a [routerLink]="['/patidex']">Nombre de jardin trouvés</a></h2>
  </div>
  <div class="rectangle">
    <h2><a [routerLink]="['/badge']">Badge</a></h2> 
  </div>
  <div class="big-square">
    <h2>Statistiques:</h2>
    <div class="statistiques">
      <div class="km-stat">KM parcourus : {{ distance }}</div>
      <div class="jardin-stat">Jardins trouvés :</div>
      <div class="badge-stat">Nombre badges :</div>
      <div class="aire-stat">Aire totale trouvée :</div>
    </div>
  </div>
</div>