<div class="container">
  <header class="header">--{{ currentUser.pseudo }}--</header>
  <button type="submit" (click)="disconnectUser()">Se déconnecter et retourner à l'accueil</button>
  <div class="collection">Derniers badges débloqués</div>
  <div class="fake-badge-group">
    <div class="fake-badge"></div>
    <div class="fake-badge"></div>
    <div class="fake-badge"></div>
  </div>
  <a class="rectangle" [routerLink]="['/patidex']">
    <h2>Nombre de jardin trouvés</h2>
  </a>
  <a class="rectangle" [routerLink]="['/badge']">
    <h2>Badge</h2>
  </a>
  <div class="big-square">
    <h2>Statistiques:</h2>
    <div class="statistiques">
      <div class="km-stat">KM parcourus : {{ currentUser.distance }}</div>
      <div class="jardin-stat">Jardins trouvés :</div>
      <div class="badge-stat">Nombre badges :</div>
      <div class="aire-stat">Aire totale trouvée :</div>
    </div>
  </div>
</div>